* {
	box-sizing: border-box;
	margin: 0;
	/* padding: 0; */
	font-family: Poppins;
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

p, ul {
	color: #F3EAF6;
}

.lightgrey {
	color: #F3EAF6!important;
}

.violet {
	color: #B796CA;
}

.pink {
	color: #F90097;
}

.rose {
	color: #FF609F;
}

strong {
	color: #F90097;
}

body {
	background-color: #9AC2D3;
}

.asset {
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

.topleft {
	width: 20%;
	height: 30%;
	position: fixed;
	animation: 2s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.topright {
	width: 20%;
	height: 75%;
	top: 0%;
	right: 0%;
	position: fixed;
	animation: 2s ease-out 0s 1 slideInFromRight;
	overflow-x: hidden;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.bottomleft{
	width: 70%;
	height: 35%;
	bottom: 0%;
	left: 0%;
	position: fixed;
	animation: 2s ease-out 0s 1 slideInDiagonally;
}

@keyframes slideInDiagonally {
    0% {
        transform: translateY(200%) translateX(-100%);
    }
    100% {
        transform: translateY(0) translateX(0%);
    }
}

.landing, .message {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.nethania,
.sonya {
	letter-spacing: 15px;
	font-weight: 700;
	font-size: 6vw;
}

.nethania {
	margin-left: -30%;
}

.sonya {
	margin-left: 40%;
	margin-top: -15%;
}

.button {
	border: none;
	border-radius: 41px;
	padding: 10px 35px;
}

.button:hover {
	background-color: #F90097;
	font-weight: bold;
	color: #F3EAF6;
}

/* .aboutbtn {
	background-color: #F3EAF6;
	font-weight: normal;
	font-size: 3vw;
} */

@media screen and (min-width: 801px) {
	.aboutbtn {
	  font-size:1.5vw;
	}
  }

@media screen and (max-width: 800px) {
	.aboutbtn {
	  font-size: 2vw;
	}
  }

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item.nav-link {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14pt;
} */

/* .cbtn {
	background-color: #F3EAF6;
	color: #9AC2D3;
	font-weight: 600;
	border-radius: 41;
	padding: 5px 15px;
	font-size: 14pt;
	margin: 10px;
}

.cbtn:hover{
	color: #F90097;
	background-color: #9AC2D3;
} */

.scrollup {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.first {
	height: 105%;
	width: 90%;
	overflow-x: hidden;
}

.second {
	margin-top: 90px;
	width: 100%;
	overflow: hidden;
}

.third {
	margin-top: -160px;
	width: 100%;
	overflow: hidden;
}

section {
	height: 95vh;
}

.intro {
	display: flex;
}

.photo {
	margin-top: 15%;
}

@media screen and (max-width: 800px) {
	.photo {
	  width:90vw;
	}
	.intro-paragraph{
		/* font-size: 50%; */
		padding-top: 0;
		/* text-align: center; */
	}
	p, ul, h3, h4 {
		text-align: center;
	}
	h3, h4{
		font-size: 5vw;
	}
	p, ul {
		font-size: 4vw;
		list-style: none;
	}
  }

@media screen and (min-width: 801px) {
	.intro-paragraph {
		padding-top: 45%;
		text-align: right;
		font-size: 16pt;
	}
	p, ul, h3, h4{
		font-size: 16pt;
	}
	.edu, .experiences{
		padding-left: 3%;
	}
	.skills{
		padding-right: 3%;
	}
	.cbtn {
		text-align: center;
		align-items: center;
	}
	/* footer{
		font-size: 1%;
	} */
  }

.intro-paragraph {
	/* text-align: right; */
	align-items: center;
	display: inline-flex;
	/* font-size: 16pt; */
	font-weight: 600;
	/* padding-top: 45%; */
}

.edu {
	
	padding-top: 10%;
}

@media screen and (min-width: 801px) {
	.experiences p,
	.experiences ul {
		font-size: 18pt;
	}
  }

/* .education p {
	font-size: 36pt;
} */

.skills {
	text-align: right;
	padding-top: 10%;
}

/* .skills p {
	font-size: 24pt;
} */

.experiences,
.education {
	margin-left: 5px;
	padding-top: 10%;
}

.experiences {
	overflow: hidden;
}

.skills {
	margin-right: 5px;
}



.contact {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 45px;
	margin-top: 10px;
}

.contact img {
	margin: 10px;
	width: 10%;
}

footer{
	margin-top: 5%;
	margin-left: 3%;
}

footer p {
	font-weight: normal;
	margin-left: 5px;
	position: relative;
}

#education,
#skills,
#experiences {
	padding-top: 10%;
}

.inputbox {
	border-radius: 20px;
	background-color: #F3EAF6;
	border: none;
	font-weight: normal;
	font-size: 12pt;
	margin: 10px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.35);
}

.sbtn {
	background-color: #FF609F;
	padding: 10px 40px;
	font-weight: normal;
	font-size: 10pt;
}

.casset {
	width: 100%;
	height: 100%;
}