
{% extends '_partials/master.html' %}
{% load static %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/poto.png' %}" alt="aq" class="photo">
            </div>
            <div class="col">
                <p class="intro-paragraph">Welcome to my personal website! This page is basically my resume, so feel free to scroll down and get to know more things about me. Here’s a few things about myself: I’m a second-year student at Universitas Indonesia and an aspiring developer. I’m excited to explore new things and xxx. Please do not hesitate to hit the contact button if you need to get in touch.</p>
            </div>
        </div>
    </div>

        <div>
            <div class="edu" id="education">
                <h3 class="pink">where i'm studying</h3>
                <p>Universitas Indonesia</p>
                <h3 class="pink">what i'm studying</h3>
                <p>Computer Science</p>
                <h3 class="pink">when i expect to graduate</h3>
                <p>2022</p>
            </div>
            <div class="skills" id="skills">
                <h3 class="rose">what i'm (hopefully) good at:</h3>
                <p><strong>Technical skills:</strong><br>Python, Java, JavaScript, HTML, CSS, Adobe Illustrator</p>
            </div>
            <div class="experiences" id="experiences">
                <h3 class="rose">what i've experienced</h3>
                <h4 class="pink">Work Experience</h4>
                <p>Software Development Analyst Intern<br>Accenture, Jakarta</p>
                <h4 class="pink">Organization Experiences</h4>
                
                    <p>Head of Creative Media and Documentation – DPM Fasilkom UI 2019</p>
                    <p>Staff of Public Relation – RISTEK Fasilkom UI 2019</p>
                
                <h4 class="pink">Committee Experiences</h4>
                
                    <p>PIC of Creative – Open House Fasilkom UI 2019</p>
                    <p>Staff of Playground – COMPFEST 11</p>
                
            </div>
        </div>

        <footer class="page-footer">
            <p class="pink">Copyright 2019 © Nethania Sonya.</p>
        </footer>

        {% endblock %}
