<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nethania sonya</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <button type="button" class="cbtn button" onclick="window.location.href='{% url 'homepage:about' %}'">back</button>

    {% if user.is_authenticated%}
        <div class="container">
        <h2>Hello, {{ username }}!</h2>
        <p><a href="{% url 'homepage:logout' %}"">logout</a></p>
        </div>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">
            <input type="submit" name="submit" value="Login">
        </form>
    {% endif %}

</body>
</html>