<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nethania sonya</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static 'images/asset7.png' %}" alt="aset" class="asset casset">
    <button type="button" class="cbtn button" onclick="window.location.href='{% url 'homepage:about' %}'">back</button>
    <div class="message">
        <h2 class="pink">what's on your mind?</h2>
        <form action="mailto:nethaniasonyavls@gmail.com">
            <textarea name="message" rows="10" cols="60" class="inputbox"></textarea><br>
            <input type="submit" class="sbtn lightgrey button">
        </form>
        <div class="contact" id="contact">
            <p class="pink">Let's get in touch! Find me on:</p>
            <div>
                <a href="https://instagram.com/nethaniasonya"><img src="{% static 'images/instagram.png' %}" alt="ig"></a>
                <a href="https://twitter.com/nethaniasonyaa"><img src="{% static 'images/twitter.png' %}" alt="twt"></a>
                <a href="https://linkedin.com/in/nethaniasonya"><img src="{% static 'images/linkedin.png' %}" alt="in"></a>
            </div>
            <p style="font-weight: 600">Or <a href="mailto:nethaniasonyavls@gmail.com" class="email" style="color:#F3EAF6; text-decoration: underline; font-weight: 600">send me an email.</a></p>
        </div>
    </div>
</body>
</html>