<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nethania sonya</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="./static/logo.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <img src="{% static 'images/asset1.png' %}" alt="aset" class="topleft">
    <img src="{% static 'images/asset2.png' %}" alt="aset" class="topright">
    <img src="{% static 'images/asset3.png' %}" alt="aset" class="bottomleft">
    <div class="landing">
        <div class="container">
            <h1 class="nethania lightgrey">nethania</h1>
            <h1 class="sonya violet">sonya</h1>
            <button type = "button" class="button aboutbtn pink" onclick="window.location.href='{% url 'homepage:about' %}'">get to know me</button>
        </div>
    </div>
</body>
</html>